<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Confirmado</title>

<style>

body{

font-family:Arial;
background:linear-gradient(120deg,#ffdde1,#ee9ca7);
text-align:center;
margin-top:120px;

}

.caixa{

background:white;
padding:40px;
border-radius:20px;
width:320px;
margin:auto;

}

h1{

color:#d6336c;

}

</style>

</head>

<body>

<div class="caixa">

<h1>🎉 Presença Confirmada!</h1>

<p>Obrigado <b>{{nome}}</b></p>

<p>Estamos muito felizes com sua presença ❤️</p>

</div>

</body>
</html>